<div class="memberships-container">
  <h1 class="page-title">Memberships & Rewards</h1>
  
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Connected Memberships">
      <app-connected-memberships></app-connected-memberships>
    </mat-tab>
    
    <mat-tab label="Exclusive Perks">
      <app-exclusive-perks></app-exclusive-perks>
    </mat-tab>
    
    <mat-tab label="Notification Preferences">
      <app-notification-preferences></app-notification-preferences>
    </mat-tab>
  </mat-tab-group>
</div>